//Radics Sort

import java.util.ArrayList;
import java.util.Arrays;

public class Ordenamiento {

    //metodo main
    public static void main(String[] args) {
        
        //arreglo de tipo int con un tamaño definido
        int numeros[] = {29, 32, 108, 43, 94, 17, 108, 94};
        
        //Se declara un arreglo de tipo ArrayList llamado "casillero"
        ArrayList<Integer> casillero[];

        //El arreglo casillero tendra un espacio de 10 elementos
        casillero = new ArrayList[10];

        //En este for se esta creando en cada espacio del arreglo una lista osea, un arreglo de listas
        for (int i = 0; i < casillero.length; i++) {
            casillero[i] = new ArrayList();
        }
        
        //ES EN ESTE for EN DONDE YA NO SE COMO funciona
        for (int i = 0, divisor = 1; i < 3; i++, divisor *= 10) {
            for (int j = 0; j < numeros.length; j++) {
                int digito = numeros[j] / divisor % 10;
                casillero[digito].add(numeros[j]);
            }   
            for(int k = 0, x = 0; k < casillero.length;k++){
                while(!casillero[k].isEmpty())
                    numeros[x++] = casillero[k].remove(0);
            }   
        }
        System.out.println(Arrays.toString(numeros));
    }
}
